{% extends 'admin/base.html' %}
{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="/static/assets/favicon.ico"/>
    <script type="text/javascript" src="/static/assets/libs/jquery/jquery-3.2.1.min.js"></script>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap-4.1.1-c.css" />
    <script type="text/javascript" src="/static/assets/libs/bootstrap/bootstrap-4.1.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/roboto-condensed-fontface.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css" />
{% endblock %}
{% block footer %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/secondary.css" />
{% endblock %}