<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>Boardsheet</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Boardsheet">
    <meta name="description" content="Boardsheet">
    <meta name="theme-color" content="#2F3BA2" />
	<link rel="shortcut icon" href="">
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />

    {% block headcontent %}
    {% endblock %}

{% endblock head %}
</head>
{% block content %}

{% endblock content %}

{% block footer %}
    <script type="text/javascript" src="/static/assets/libs/js/jquery-2.2.4.js"></script>
   

    {% block footer_javascript %}
    {% endblock %}
    <script type="text/javascript" src="/static/assets/config.js" id="config_script"></script>
    <script type="text/javascript" src="/static/assets/js/utils.js"></script>
    <script type="text/javascript" src="/static/assets/js/datetime.js"></script>
    <script type="text/javascript" src="/static/assets/js/simple_ajax.js"></script>
    <script type="text/javascript" src="/static/assets/js/site.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/libs/bootstrap/bootstrap-4.2.1.css" />
    <script type="text/javascript" src="/static/assets/libs/bootstrap/bootstrap-4.1.1.js"></script>
    <script type="text/javascript" src="/static/assets/libs/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/bootstrap/popper-1.14.3.js"></script>
	<script type="text/javascript" src="/static/assets/libs/js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="/static/assets/libs/js/jquery.mark.min.js"></script>
    <script type="text/javascript" src="/static/assets/libs/js/mark.min.js"></script>



</body>
</html>

{% endblock %}
