{% extends 'header.html' %}
{% block headcontent %}
    <style>
    button[type="submit"]:disabled
    {
        background-color: grey;
    }
    </style>
{% endblock %}
{% block content %} 

<body class="app sidebar-mini rtl sidenav-toggled public">
    <script>
        console.log(Date());
    </script>
    <link rel="stylesheet" href="/static/assets/css/login-only.css" />
    <div class="router-outlet Login-form-wrapper">
        <span class="loginshape01"><img class="img-fluid" src_url="/static/assets/images/loginshape-01.png" /> </span>
        <span class="loginshape02"><img class="img-fluid" src_url="/static/assets/images/loginshape-02.png" /> </span>
        <span class="loginshape03"><img class="img-fluid" src_url="/static/assets/images/loginshape-03.png" /> </span>
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-sm-10 col-md-5 col-xl-5">
                    <div class="login-form-div">
                        <form class="login-form">
                            <a href="/#/" class="login-logo">
                                <img class="img-fluid" src_url="/static/assets/images/login-logo.png" />
                            </a>
                            <div class="member-login-box">
                                <img src_url="/static/assets/images/member-icon.png" />
                                <span>Member Login</span>
                            </div>
                            <div class="form-group input-label-icon">
                                <img class="img-fluid user-icon" src_url="/static/assets/images/login-user.png" />
                                <input id="username" placeholder="Username" type="text" class="form-control" />
                            </div>
                            <div class="form-group input-label-icon">
                                <img class="img-fluid" src_url="/static/assets/images/lock-icon.png" />
                                <input id="password" placeholder="Password" type="password" class="form-control" />
                            </div>
                            <div class="login-feedback" style="text-align:center; color:red; padding-bottom:10px"></div>
                            <div class="form-group text-center pl-5 pr-5 mb-2">
                                <button type="submit" disabled class="login-btn">Login</button>
                            </div>
                            <div style="display:none" class="form-group forgot text-center">
                            <a class="forgot" href="/#/forgot-password">Forgot Password?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 text-center d-none d-md-block d-lg-block">
                    <img class="img-key" src_url="/static/assets/images/login-vector.png" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_javascript %}
    <script type="text/javascript" src="/static/assets/js/login.js"></script>
    <script>
        (function(){
            var elm = document.getElementById('username');
            setTimeout(function(){
                elm.select();
            }, 800);
            $('.Login-form-wrapper').find('button[type="submit"]:first').removeAttr('disabled');
        })()
        $('.form-group.forgot').show();
        console.log(Date(), 'all loaded');
    </script>
{% endblock %}